<%= form_with model: task do |f| %>
  <div class="row">
    <div class='col-id'>
      <%= task.id %>
    </div>
    
    <div class='col-category'>
      <%= category.name %>
    </div>

    <div class='col-task'>
      <%#= task.task %>
      <%= f.text_area :task, rows: 3 %>
    </div>

    <!--div class='col-log'>
      <a href="">&laquo;</a>
      1/2/18
      <a href="">&raquo;</a>
      <input type="text" placeholder='hrs' style="width: 3em" />
      <button>Save</button>
    </div-->

    <div class='col-status'>
      <%= render '/tasks/row/status_selector', task: task %>
    </div>

    <div class='col-assign'>
      <%= f.collection_select :assignee_id, current_organization.users, :id, :full_name, prompt: '-- assignee --' %>
      <a href="">assign to me</a>
    </div>

    <div class='col-notes'>
      <a href="">notes</a>
      <%= f.submit 'save' %>
    </div>
  </div>
<% end %>