<%= form_with model: task do |f| %>
<div class="row">
  <div class='col-id'>
    <%= task.id %>
  </div>
  <div class='col-category'>
    <%= category.name %>
  </div>
  <div class='col-task'>
    <%= task.task %>
  </div>
  <!--div class='col-log'>
    <a href="">&laquo;</a>
    1/2/18
    <a href="">&raquo;</a>
    <input type="text" placeholder='hrs' style="width: 3em" />
    <button>Save</button>
  </div-->
  <div class='col-status'>
    <div class="btn-group">
      <%= Task.statuses[0] %>
      <!-- <select name="" id=""> -->
      <!-- <a value="">--- choose status ---</a> -->
      <a href="#" value="">I'm working on this</a>
      <a href="#" value="">Blocked!</a>
      <a href="#" value="">Ready for review</a>
      <a href="#" value="">Failed testing</a>
      <!-- </select> -->
    </div>
  </div>
  <div class='col-assign'>
    <select>
      <option>
        -- assign --
      </option>
    </select>
  </div>
  <div class='col-notes'><a href="">notes</a></div>
</div>
<% end %>