<h1><%= @project.name %>!</h1>

<!-- <a href="https://www.teamwork.com/launchpad/login?redirect_uri=http://localhost:3000">TEAMWORK LOGIN</a> -->
<% if current_user.teamwork_access_token.blank? %>
  <%= link_to "Teamwork Login!", "https://www.teamwork.com/launchpad/login?redirect_uri=#{api_teamwork_login_url}" %>
<% else %>
  Logged in with Teamwork &#x2728;
  <hr>

  <h3>Settin's</h3>
  <%= form_with model: @project do |f| %>
    <%= f.label :teamwork_id, "Teamwork Project ID" %>
    <%= f.text_field :teamwork_id %>
    <%= f.submit %>
  <% end %>

  <hr>

  <h3>Util</h3>
  <nav>
    <ul>
      <li>
        <%= link_to "Sync tasks from here to Teamwork", 
          api_teamwork_sync_tasks_to_teamwork_path(project_id: @project.id) %>
          (last synced 
          <span data-user-date><%= @project.last_synced_tasks_with_teamwork.to_s %></span>)
        </li>
      <!-- <li><a href="">Settings</a></li> -->
    </ul>
  </nav>

  <hr>
<% end %>

<h3>Things to do</h3>
<div class='tbl-tasks' valign='top'>
  <div class="header row">
    <div class='col-id'>#</div>
    <div class='col-category'>category</div>
    <div class='col-task'>task</div>
    <!-- <div class='col-log'>log time</div> -->
    <div class='col-status'>status</div>
    <div class='col-assign'>assign</div>
    <div class='col-notes'>notes</div>
  </div>
  <div class='body'>
    <%= render partial: "category_row", collection: @project.categories, as: :category %>

    <%= render partial: "/tasks/row/task_row", collection: @project.tasks.where(category: nil), as: :task %>
  </div>
</div>

<h3>Add a task</h3>
<%= render "/tasks/row/task_row", task: @project.tasks.new(project: @project) %>
