<!DOCTYPE html>
<html>
  <head>
    <title>MiniProjectManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class='container boxed notices'>
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class='container boxed errors'>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="main-content container boxed">
      <% if signed_in? %>
        <div class="right">
          <%= "#{["hello", "howdy", "hi", "g'day,", "top o' the mornin',"].sample.humanize} #{current_user.first_name}" %>

          <%= link_to "logout", destroy_user_session_path, :method => :delete %>
        </div> 

        <hr>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>